[submodule "ThirdParty/wxWidgets"]
	path = ThirdParty/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "ThirdParty/HappyMath"]
	path = ThirdParty/HappyMath
	url = https://github.com/spencerparkin/HappyMath
